<div class="container text-center">
  <div ng-controller="LoginController as login">
  <h2>
    Login
  </h2>
  <form name="userForm">
    <label>Student ID:
      <input type="text" name="userName"
             ng-model="user.name"
             ng-model-options="{ getterSetter: true }" /><br>
	  Password:<input type="password" name="password"
             ng-model="pass.word"
             ng-model-options="{ getterSetter: true }" />
    </label>
	<button ng-click="login.auth(user.name, pass.word)" class="btn btn-primary" type="submit" value="Enroll">Enroll</button>
  </form>
   </div>
</div>
